html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Clippy - Cross-Platform Copy
        style(type="text/css").
            body {
                margin: 0;
            }

            #mainDiv {
                width: 100%;
            }
    body
        div#mainDiv
        script(src="/js/vendor.js")
        script(src="/js/main.js")
